[submodule "00 Libraries/BinaryBuffer"]
	path = 00 Libraries/BinaryBuffer
	url = git@github.com:Georgia-Tech-Off-Road/BinaryBuffer.git
[submodule "00 Libraries/BoostForArduino"]
	path = 00 Libraries/BoostForArduino
	url = git@github.com:Georgia-Tech-Off-Road/BoostForArduino.git
