[submodule "00 Libraries/BinaryBuffer"]
	path = 00 Libraries/Arduino Libraries/libraries/BinaryBuffer
	url = git@github.com:Georgia-Tech-Off-Road/BinaryBuffer.git
[submodule "00 Libraries/BoostForArduino"]
	path = 00 Libraries/Arduino Libraries/libraries/BoostForArduino
	url = git@github.com:Georgia-Tech-Off-Road/BoostForArduino.git
[submodule "00 Libraries/CommboardTransmissionLibrary"]
	path = 00 Libraries/Arduino Libraries/libraries/CommboardTransmissionLibrary
	url = git@github.com:Georgia-Tech-Off-Road/CommboardTransmissionLibrary.git
[submodule "Projects/2025-2026/DAQBoxRev1-2025"]
	path = Projects/2025-2026/DAQBoxRev1-2025
	url = git@github.com:Georgia-Tech-Off-Road/DAQBoxRev1-2025.git
[submodule "00 Libraries/CMBTL_DAQInfrastructure"]
	path = 00 Libraries/Arduino Libraries/libraries/CMBTL_DAQInfrastructure
	url = git@github.com:Georgia-Tech-Off-Road/CMBTL_DAQInfrastructure.git
