/10 Analytics Website/client/node_modules
Dockerfile
10 Analytics Website/backend/.dockerignore
10 Analytics Website/backend/Dockerfile
.dockerignore
/10 Analytics Website/backend/node_modules
/10 Analytics Website/swagger-editor
7 Data Translation/Config
07 DataTrainslation/*.txt
**/.vs/
*.cmake
*.pyc
*.o
**/.vscode/
**/CMakeFiles/
**/_deps/
/7 Data Translation/LocalTestFiles
.vscode/
*.o
*.ipch
*.vsidx
/7 Data Translation/.vs
.vscode/settings.json
.vscode/settings.json
/.vscode
7 Data Translation/CppProperties.json
.vscode/settings.json
/7 Data Translation/ProcessingPrograms/__pycache__
/7 Data Translation/Visualizers/__pycache__
*.csv
*.xml
*.iml
Claude.md


# --- CMake Related Files --- 
*CMakeCache.txt
00 Libraries/CommboardTransmissionLibrary/Testing/*
!00 Libraries/CommboardTransmissionLibrary/Testing/*.cpp
build/
#Ignore generated makefiles
Makefile
